# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Currency Converter/*
!/Currency Converter/task/
/Currency Converter/task/*
!/Currency Converter/task/cconverter
